body {
    background-color: lightblue;
    /*background-image: url('/static/pics/Metsasitikas.jpg')*/
}

.chart-container {
    width: 400px;
    height: 300px 
    margin: 0 auto;
    text-align: center;
}